@import '../../../scss/variables.scss';

.app-sidenav-container{
  flex:1;
  position:fixed;
  width:100%;
  min-width:100%;
  height:100%;
  min-height:100%;
  // border: 1px solid rgba(0,0,0,0.5);
}


.app-sidenav-content{
display:flex;
height:100%;
// align-items:center;
// justify-content:center;
flex-direction:  column;
}

.app-sidenav{
  width:240px;
  // padding:20px;
}



.mat-drawer-side {
    border-right:0
}

// mat-expansion-panel{
//     margin: 0;
// }






.mat-icon{
  padding-right: 5px;
}


.content {
  margin:20px;
  margin-top: 58px
}


.active-list-item {
  background-color: $warn-darker !important; /* Note: You could also use a custom theme */
}